body {
    height: 100%;
    background: rgb(28,34,48);
    background: radial-gradient(circle, rgba(28,34,48,0.5007002801120448) 0%, rgba(192,146,86,1) 100%);
}

.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 50px;
    color: #1C2230;
    margin-top: 160px;
    margin-bottom: 40px;
    margin-inline: 10%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
}

#formulaire {
    /* width: 40%; */
    flex: 60%;
    padding: 0 10%;
}

form input, form textarea {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #C09256;
}

form textarea {
    border: none;
}

span {
    color: #C09256;
}

.coordonnees {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.coord h3 {
    font-size: 1rem;
}

.coord a {
    text-decoration-color: #C09256;
}

#envoyer {
    background-color: #C09256;
    border: none;
    border-radius: 7px;
}

#map .bgBlue {
    background-color: #1C2230;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
}
#map iframe{
    z-index: 2;
}
#map {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: auto;
    z-index: 2;
    height: 100%;
    padding: 5% 0;
}

@media screen and (max-width: 600px) {
    #formulaire {
        flex: 100%;
    }
    #map {
        flex: 100%;
    }

    .coordonnees {
        flex-direction: column;
    }
}
@media screen and (max-width: 1270px) {
    .bgBlue {
        display: none;
    }

    #formulaire {
        margin-top: 7%;
    }
}