.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    color: #1C2230;
    margin: 5% 10%;
    height: 80vh;
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
}

#formulaire {
    width: 40%;
}

form input, form textarea {
    background-color: #fff;
    border-bottom: 1px solid #C09256;
}

form textarea {
    border: none;
}

span {
    color: #C09256;
}

.coordonnees {
    display: flex;
    justify-content: space-between;
}

.coord h3 {
    font-size: 1rem;
}

.coord a {
    text-decoration-color: #C09256;
}

#envoyer {
    background-color: #C09256;
    border: none;
    border-radius: 7px;
}

.map {
    z-index: 3;
}

.bgBlue {
    background-color: #1C2230;
    z-index: 2;
    height: 100%;
    width: 20%;
    border-radius: 0 50px 50px 0;
    justify-self: flex-end;
}

@media screen and (max-width: 600px) {
    .contact {
        flex-direction: column;
    }

    #formulaire {
        width: 90%;
    }

    .coordonnees {
        flex-direction: column;
    }
}