* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1C2230;
    height: 100vh;
}

.section{
 height: 100%;
    background-attachment: fixed;
    background-image:url("images/imgAccueil.jpg");
    background-size: cover;
    

}
.section :nth-child(1){
    height: 200px;
background-color: rgba(255, 255, 255, 0.2);
}
header{
    background-color: #1C2230;
    width: 300px;
    height: auto;
}

nav{
    width: 300px;
    background-color: #1C2230;
}

input{
    color: #C09256;
    background-color: #1C2230;
    border: none;
}





/* tornike */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin-inline: auto;
}
.gallery-container:hover > .column img:not(:hover){
    opacity: .5;   

}

.column {
    flex: 25%;
    max-width: calc(25% - 10px);
    margin: 5px;
}
  
.column img {
    margin-top: 10px;
    width: 100%;
}


@media screen and (max-width: 1200px) {
    .gallery-container {
        width: 90vw;
        margin-inline: auto;
    }
    .column {
    flex: calc(50% - 10px);
    max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .gallery-container {
        width: 95vw;
        margin-inline: auto;
    }
    .column {
    flex: 100%;
    max-width: 100%;
    }

}



/* LOADING SCREEN */
.loading.active{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(64, 64, 64);
    opacity: .8;
    width: 100%;
    height: 100%;
    transform: scale(1);

}

  .loading{
    transform: scale(0);
  }
  .lds-roller {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
